@import "../utilities/variables.scss";

.container-contact {
  display: flex;
  flex-flow: row;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    display: flex;
    flex-flow: column;
    width: 50%;

    h3 {
      margin-bottom: 10%;
    }

    label {
      margin-top: 2%;
    }

    input, 
    textarea {
      display: inline-block;
      padding: 12px 20px;
      border: 1px solid $color-input-border;
      border-radius: 4px;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    #submit {
      width: 50%;
      padding: 10px 18px;
      border-radius: 4px;
      border: 1px solid $color-btn-border;
      margin-top: 10%;
      white-space: nowrap;
      background: $color-btn-bg;
      color: $color-btn-text;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 4px;
      cursor: pointer;

      &:hover {
        background: $color-btn-hover-bg;
        color: $color-btn-hover-text;
      }
    }
  }
}