@import "../utilities/variables.scss";

.text-heading {
  margin: 0;
  line-height: 53px;
  color: $color-header-text;
  font-size: 56px;
  font-family: sans-serif;
  font-weight: 400;
}

.text-subheading {
  margin: 0;
  line-height: 53px;
  color: $color-header-text;
  font-size: 35px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.text-content {
  margin-top: 20px;
  color: $color-content-text;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
}

.text-fadeIn {
  animation: fadeIn 1s 1.8s backwards;
}

.content-margin {
  margin: 7% 10% 0 10%;
}

.home-margin {
  margin: 10% 10% 0 10%;
}

.text-zone {

  .flat-button {
    
    padding: 10px 18px;
    border: 1px solid $color-btn-border;
    margin-top: 25px;
    color: $color-btn-text;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: $color-btn-hover-bg;
      color: $color-btn-hover-text;
    }
  }
}


@media screen and (max-width: 600px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}