@import "../utilities/variables.scss";

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: $color-menubar-bg;

  .logo {
    display: flex;
    min-width: 250px;
    align-self: center;
    padding: 0 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 250px;
    margin: 0 20px;
    padding: 0 30px;

    a.active {
      color: $color-menubar-selected;
      font-weight: bold;
    }
  }

  a {
    color: $color-menubar-text;
    text-decoration: none;
    padding: 0 5%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

}

.hamburger-icon, .close-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    min-height: auto;
    background-color: $color-menubar-bg;
    padding: 10px 0;
    // background: transparent;

    .logo {
      display: flex;
      min-width: 250px;
      align-self: center;
      padding-bottom: 30px;
    }

    nav {
      display: none;
    }

    .nav-show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: auto;
      margin: 0 20px;
      padding: 0 30px;
    }

    a{
      color: $color-menubar-text;
      text-decoration: none;
      min-height: 40px;
      font-weight: bold;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }

    .hamburger-icon,
    .close-icon {
      // position: initial;
      top: 15px;
      right: 15px;
      display: block;
      padding: 10px;
      cursor: pointer;
    }
  }
}